<div>
    <h2>Utilizatori disponibili</h2>
    <mat-list>
      <mat-list-item *ngFor="let user of users">
        {{ user.email }}
        <button mat-icon-button (click)="addUser(user)">
         add
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  
  <div>
    <h2>Utilizatori selectați</h2>
    <mat-list>
      <mat-list-item *ngFor="let user of currentUsers">
        {{ user.email }}
        <button mat-icon-button (click)="removeUser(user)">
          remove
        </button>
      </mat-list-item>
    </mat-list>
  </div>
  